.jumbotron {
    padding-top: 6rem;
    background-color: #52baff;

}

#workxp                                                                                                                                                                                                                                                      {
    background-color: #52baff;
}

section {
    padding-top: 5rem;
}